:root {
    --red: #e63946;
    --white-ish: #f1faee;
    --yankees-blue: #a8dadc;
    --sea-serpent: #457b9d;
    --aquamarine: #1d3557;
    --react: #00d8ff;
  }

 


#root {
    display: grid;
    background-color: var(--react);
    height: 100vh;
}

#root {
    display: grid;
    grid-template: 
    'Header'
    'Content'
    'Footer';

    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 65px;
}

Header {
    display: flex;
  
}

Content {
    display: flex;
}

Footer {
    display: flex;
}

.title {
    grid-area: Header;
    
}

.App {
    grid-area: Content;
    justify-content: center;
}


